.boutonSelect {
    appearance: none;
    margin-right: 15px;
    height: 24px;
    width: 24px;
    background-color: #EBEBEB;
    border-radius: 50%;

    font-size: 0;

    option {
      font-size: 1rem;
    }

  }

  // .logo {
    
    

  // }

  .inverser {
    filter: invert(1);
  }