.enTete {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 2rem 2rem 1rem;

  .conteneurEntete {
    display: flex;
    z-index: 7;
    width: 100%;
  }

  .titre {
    width: 100%;
    margin: 0;
    margin-left: 1%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

/* ==================MOBILE================== */
@media (width >= 320px) and (width <= 424px) {
  .enTete {
    padding: 0% 6%;
    height: 75px;

    .conteneurEntete {
      flex-direction: column;
      overflow: visible;
      margin-top: 5%;
    }

    .titre {
      font-size: 13px;
      line-height: 16px;
    }
  }
}

/* ==================TABLETTE================== */
@media (width >= 425px) and (width <= 767px) {
  .enTete {
    padding: 0% 6%;
    margin-bottom: 0;

    .titre {
      font-size: 13px;
      line-height: 16px;
      margin: auto 0;
      margin-left: 1%;
    }
  }
}

@media (width >= 768px) and (width <= 1024px) {
  .enTete {
    margin-bottom: 0;
  }
}
