// @import "styles/variables";

.enTete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 2rem 2rem 1rem;
  margin-bottom: 3rem;

  span {
    display: flex;
    z-index: 7;
    width: 100%;
  }
  color: #ffffff;
  .titre {
    width: 100%;
    margin: 0;
    margin-left: 1%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
}

/*==================MOBILE==================*/
@media (min-width: 320px) and (max-width: 424px) {
  .enTete {
    padding: 2% 6%;
    height: 75px;
    margin-bottom: 5%;

    span {
      height: 45px;
      flex-direction: column;
      overflow: visible;
      margin-top: 5%;
    }

    .titre {
      margin-top: 5%;
      font-size: 13px;
      line-height: 16px;
      max-width: 75%;
    }
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
  .enTete {
    padding: 2%;
    height: 75px;
    margin-bottom: 0;

    span {
      // overflow: visible;
    }

    .titre {
      font-size: 13px;
      line-height: 16px;
      margin: auto 0;
      margin-left: 1%;
    }
  }
}
