.barresMenu {
  font-size: 3.5rem;
}

.cancel {
  font-size: 3.5rem;
}

.conteneurMenu {
  z-index: 6;

  .fondNav {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;

    height: 100vh !important;
    width: 100vw;
    overflow: hidden;
    background-color: #110c12;
    box-shadow: 1px -80px 100px #f3f1f1;
  }

  nav {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
      ". pages" auto
      "contact pages" auto
      "contact ." auto
      / 50% 50%;
    color: white;
    background-color: #110c12;
    font-size: 2em;
    z-index: 3;
  }

  .conteneurListePages {
    grid-area: pages;
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
  }

  .listePages {
    list-style-type: none;
    text-align: end;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 15%;
    li {
      margin: 1rem;

      .wrapLien {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      a {
        font-family: NeueMontreal;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        text-align: right;
        cursor: pointer;
      }

      .wrapPagination {
        height: 0;
        width: 0;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: 1px solid white;
          display: inline-block;
          position: absolute;
          margin-left: 1rem;
        }
      }
    }
  }

  address {
    grid-area: contact;
    border-left: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3rem;
    margin-left: 3%;

    height: 80%;
    align-self: flex-end;

    .rue {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 29px;
      line-height: 29px;
      text-transform: uppercase;
    }
  }

  .liensContact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-inline-start: 0rem;
    padding-inline-end: 0rem;

    a {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
    }
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: white;
      text-decoration: none;
    }
    &:hover {
      color: #f18163;
    }
  }
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .barresMenu {
    font-size: 3rem;
  }

  .cancel {
    font-size: 3rem;
  }

  .conteneurMenu {
    nav {
      grid-template:
        ". pages" auto
        "contact pages" auto
        / 50% 50%;
    }

    .listePages {
      margin-right: 0;
      padding-right: 10%;

      li {
        .wrapLien {
          flex-direction: row-reverse;
          overflow: visible;
        }

        a {
          font-size: 30px;
          line-height: 36px;
          width: max-content;
        }

        .wrapPagination {
          justify-content: flex-end;
          span {
            margin: 0;
            margin-right: 1rem;
          }
        }
      }
    }

    address {
      justify-content: center;
      padding-left: 10%;
      border-left: none;
      .rue {
        display: none;
      }
    }

    .liensContact {
      height: 100%;
      padding: 0;
      margin: 0;
      flex-direction: column;
      justify-content: space-around;
    }

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
  .barresMenu {
    font-size: 3rem;
  }

  .cancel {
    font-size: 3rem;
  }

  .conteneurMenu {
    nav {
      grid-template:
        ". pages" auto
        "contact contact" auto
        / 50% 50%;
    }

    .conteneurListePages {
      align-items: flex-end;
    }

    .listePages {
      margin-right: 0;
      padding-right: 10%;

      li {
        .wrapLien {
          flex-direction: row-reverse;
          overflow: visible;
        }

        a {
          font-size: 35px;
          line-height: 36px;
          width: max-content;
        }

        .wrapPagination {
          justify-content: flex-end;
          span {
            margin: 0;
            margin-right: 1rem;
          }
        }
      }
    }

    address {
      justify-content: center;
      border-left: none;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 70vw;
      .rue {
        margin-left: 5%;
      }
    }

    .liensContact {
      justify-content: space-between;
      margin-left: 5%;
      margin-right: 5%;
    }

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
  .barresMenu {
    font-size: 3rem;
  }

  .cancel {
    font-size: 3rem;
  }

  .conteneurMenu {
    nav {
      grid-template:
        ". pages" auto
        "contact ." auto
        / 50% 50%;
    }

    .conteneurListePages {
      align-items: flex-end;
    }

    .listePages {
      margin-right: 0;
      padding-right: 15%;
      margin-top: 5rem;

      li {
        margin: 1.4rem;
        .wrapLien {
          flex-direction: row-reverse;
          overflow: visible;
        }

        a {
          font-size: 45px;
          line-height: 36px;
          width: max-content;
        }

        .wrapPagination {
          justify-content: flex-end;
          span {
            margin: 0;
            margin-right: 1rem;
          }
        }
      }
    }

    address {
      justify-content: space-around;
      padding-left: 10%;
      width: 100%;
    }

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {
  .barresMenu {
    font-size: 3rem;
  }

  .cancel {
    font-size: 3rem;
  }

  .conteneurMenu {
    font-size: 1rem;

    nav {
      grid-template:
        ". pages" auto
        "contact ." auto
        / 50% 50%;
    }

    .conteneurListePages {
      align-items: flex-end;
    }

    .listePages {
      margin-right: 0;
      padding-right: 10%;
      margin-top: 3rem;

      li {
        margin: 1.4rem;
        .wrapLien {
          flex-direction: row-reverse;
          overflow: visible;
        }

        a {
          font-size: 45px;
          line-height: 36px;
          width: max-content;
        }

        .wrapPagination {
          justify-content: flex-end;
          span {
            margin: 0;
            margin-right: 1rem;
          }
        }
      }
    }

    address {
      // justify-content: center;
      padding-left: 10%;

      height: 20vh;
    }

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}
