.imgInfo {
  width: 20vw;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

/* ==================MOBILE================== */
@media (width >= 310px) and (width <= 424px) {
  .imgInfo {
    width: 37vw;
    height: 18vh;
  }
}

/* ==================TABLETTE================== */
@media (width >= 425px) and (width <= 767px) {
  .imgInfo {
    width: 37vw;
    height: 20vh;
  }
}

/**  ================GROSSE TABLETTE================== */
@media (width >= 768px) and (width <= 1024px) {
  .imgInfo {
    width: 25vw;
    height: 22vh;
  }
}
