.leModalFond {
  position: fixed;
  inset: 0;
  z-index: 15;
  background-color: rgb(171 181 190 / 34.9%);
}

.leModal {
  position: absolute;
  inset: 40px;
  overflow: hidden;
  outline: none;
}

.conteneurModal {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteneurImage {
  height: auto;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  & div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.image {
  width: auto;
  height: 70vh;
  max-height: 100%;
  object-fit: contain;
}

/* ==================MOBILE================== */
@media (width >= 310px) and (width <= 424px) {
  .image {
    height: 40vh;
  }

  .leModal,
  .conteneurModal {
    overflow: auto;
  }
}

/* ==================TABLETTE================== */
@media (width >= 425px) and (width <= 767px) {
  .image {
    height: 40vh;
  }

  .leModal,
  .conteneurModal {
    overflow: auto;
  }
}

/**  ================GROSSE TABLETTE================== */
@media (width >= 768px) and (width <= 1024px) {
  .image {
    height: 50vh;
  }

  .leModal,
  .conteneurModal {
    overflow: auto;
  }
}
