.conteneur {
    color:rgb(7, 0, 112);
    background-color: red;
    width: 67vw;
    height: 80vh;
    margin: 0 auto;
}

.nomProfs{
    
    font-size: 0.75rem;
    h3,h4{
        background-color: white;
    }
}

.points {
    display: flex !important;
    justify-content: center !important;
    
}