.conteneur {
    color:rgb(7, 0, 112);
    background-color: red;
    width: 67vw;
    height: 80vh;
    margin: 0 auto;
}

.points {
    margin-top: 1%;
    display: flex !important;
    justify-content: center !important;
    
}