/*=============== Neue Montreal================= */
@font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal/NeueMontreal-Light.woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
  }
  
  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal/NeueMontreal-Bold.woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: "NeueMontreal";
    src: url("/fonts/NeueMontreal/NeueMontreal-BoldItalic.woff2");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
  }
  
  /*=============== Montserrat ================= */
  
  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("/fonts/Montserrat/Montserrat-Regular.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("/fonts/Montserrat/Montserrat-Medium.woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("/fonts/Montserrat/Montserrat-Bold.woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("/fonts/Montserrat/Montserrat-ExtraBold.woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
  }
  