.imgProf {
  max-width: 500px;
}

.unProf {
  background-color: var(--base);
  overflow: hidden;
  position: relative;
  cursor: pointer;

  margin: 0 0 5% 0;
  position: relative;
  width: fit-content;

  img {
    filter: grayscale(100%) contrast(1) blur(var(--blur));
    mix-blend-mode: var(--bg-blend);
    object-fit: fill;
    opacity: var(--opacity);
    position: relative;

    width: 266px;
    height: 251px;
  }

  ::before {
    background-color: var(--foreground);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: var(--fg-blend);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    filter: opacity(0.5) contrast(0.6) saturate(3) brightness(1);
  }

  h3 {
    color: white;
    position: absolute;
    font-size: 1.5rem;
    max-width: 90%;
    top: 64%;
    left: 5%;
    cursor: pointer;
  }

  h4 {
    color: white;
    font-size: 0.9rem;
    max-width: 75%;
    position: absolute;
    top: 77%;
    left: 5%;
    cursor: pointer;
  }
}
