.imgProf {
  width: 14vw;
  height: 25vh;
  object-position: 0 20%;
}

.unProf {
  font-size: 0;
  background-color: var(--base);
  overflow: hidden;
  cursor: pointer;
  margin: 0 0 5%;
  position: relative;
  width: fit-content;

  img {
    filter: grayscale(100%) contrast(1) blur(var(--blur));
    mix-blend-mode: var(--bg-blend);
    object-fit: cover;
    opacity: var(--opacity);
    position: relative;
  }

  div::before {
    background-color: var(--foreground);
    inset: 0;
    content: "";
    height: 100%;
    mix-blend-mode: var(--fg-blend);
    position: absolute;
    width: 100%;
    z-index: 1;
    filter: opacity(0.5) contrast(0.6) saturate(3) brightness(1);
  }
}

.unProfArt {
  font-size: 0;
  background-color: #ff7100d6;
  overflow: hidden;
  cursor: pointer;
  margin: 0 0 5%;
  position: relative;
  width: fit-content;

  img {
    filter: grayscale(100%) contrast(1) blur(var(--blur));
    mix-blend-mode: var(--bg-blend);
    object-fit: cover;
    opacity: var(--opacity);
    position: relative;
  }

  div::before {
    background-color: #5241ff;
    inset: 0;
    content: "";
    height: 100%;
    mix-blend-mode: var(--fg-blend);
    position: absolute;
    width: 100%;
    z-index: 1;
    filter: opacity(0.4) contrast(0.8) saturate(0.5) brightness(1);
  }
}

.unProfCode {
  font-size: 0;
  background-color: #4ed051;
  overflow: hidden;
  cursor: pointer;
  margin: 0 0 5%;
  position: relative;
  width: fit-content;

  img {
    filter: grayscale(100%) contrast(0.6) blur(var(--blur));
    mix-blend-mode: color-burn;
    object-fit: cover;
    opacity: var(--opacity);
    position: relative;
  }

  div::before {
    background-color: #387954;
    inset: 0;
    content: "";
    height: 100%;
    mix-blend-mode: soft-light;
    position: absolute;
    width: 100%;
    z-index: 1;
    filter: opacity(2) contrast(1) saturate(1) brightness(0.6);
  }
}

.nomProf,
.specialisationProf {
  margin: 0;
  background-color: transparent;
}

.nomProf {
  color: white;
  position: absolute;
  font-size: 1.2rem;
  max-width: 90%;
  width: 100%;
  top: 75%;
  left: 5%;
  cursor: pointer;
}

.specialisationProf {
  color: white;
  font-weight: normal;
  font-size: 0.8rem;
  max-width: 90%;
  position: absolute;
  top: 87%;
  left: 5%;
  cursor: pointer;
}

/* ==================MOBILE================== */
@media (width >= 310px) and (width <= 424px) {
  .imgProf {
    width: 37vw;
    height: 20vh;
    object-position: 0 35%;
  }

  .nomProf {
    font-size: 0.8rem;
    top: 70%;
  }

  .specialisationProf {
    display: none;
    font-size: 0.7rem;
    top: 80%;
  }
}

/* ==================TABLETTE================== */
@media (width >= 425px) and (width <= 767px) {
  .imgProf {
    width: 37vw;
    height: 20vh;
    object-position: 0 35%;
  }

  .nomProf {
    font-size: 0.8rem;
    top: 70%;
  }

  .specialisationProf {
    display: none;
    font-size: 0.7rem;
    top: 80%;
  }
}

/**  ================GROSSE TABLETTE================== */
@media (width >= 768px) and (width <= 1024px) {
  .imgProf {
    width: 25vw;
    height: 22vh;
  }

  .nomProf {
    font-size: 1.1rem;
    top: 64%;
  }

  .specialisationProf {
    // display: none;
    font-size: 1rem;
    top: 75%;
  }
}
