.points {
  display: flex !important;
  justify-content: center !important;
  margin-top: 1%;

  :global(.swiper-pagination-bullet) {
    padding: 2%;
    border: none;
    background-color: transparent;
    border-radius: 0;
    border-top: 5px solid grey;
  }

  * {
    width: 100px;
    padding-left: 1%;
    height: 2px;
    background-color: white;
  }
}

.conteneurSwiper {
  width: 80%;
  margin: 0 auto;
}

.uneSlide {
  display: flex;
  justify-content: center;
  
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px){

  .points {
    margin-top: 7%;
  }

}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px){
  .points {
    margin-top: 7%;
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1023px){
  .points {
    margin-top: 7%;
  }
}

/*==================LAPTOP==========================*/
@media (min-width: 1024px) and (max-width: 1439px) {
  .points {
    margin-top: 5%;
  }
}
