.racine {
  background-color: #110c12;
  height: 100vh;
  display: flex;
  // justify-content: center;
  // align-items: flex-start;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
  flex-direction: column;

  &::after {
    content: "";
    width: 300%;
    height: 300%;
    background-image: url("/images/grain.gif");
    background-size: auto;
    opacity: 0.128;
    position: fixed;
    z-index: 2;
  }

  // padding-bottom: 1rem;
  
}

.conteneurTout {
  flex-grow: 1;
  width: 100%;
  // max-width: 1370px;
  display: flex;
  flex-direction: column;
  // justify-content: center;

  z-index: 3;

  :focus {
    outline: none;
  }
}

.conteneurProgres {
  position: fixed;
  padding: 2%;
  bottom: 0;
  z-index: 20;
}


/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px){

  .racine:global(#racine) {
    &::before {
      content: "";
    width: 300%;
    height: 300%;
    background-image: var(--bgAcceuil);
    background-size: auto;
    opacity: 0.70;
    position: fixed;
    z-index: 1;
    }
  }

}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px){

  .racine:global(#racine) {
    &::before {
      content: "";
    width: 300%;
    height: 300%;
    background-image: var(--bgAcceuil);
    background-size: auto;
    opacity: 0.70;
    position: fixed;
    z-index: 1;
    }
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px){

  .racine:global(#racine) {
    &::before {
      content: "";
    width: 300%;
    height: 300%;
    background-image: var(--bgAcceuil);
    background-size: auto;
    opacity: 0.70;
    position: fixed;
    z-index: 1;
    }
  }

}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {
  
}
