.conteneurNavigation {
  z-index: 3;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
  margin-top: 2%;

  button {
    // color: unset;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }

  button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }

  button:active {
    outline: none;
    border: none;
  }

  button:focus {
    outline: 0;
  }
}

.barreNavigation {
  display: grid;
  grid-template:
    ". b2 b3 b4 b5 b6 ." 2vh
    "b1 lg lg lg lg lg b7" 3vh
    / auto auto auto auto auto auto auto;
}

.boutonUneSection {
  // color: white;
  //   z-index: 3;
  cursor: pointer;

  @for $i from 1 through 7 {
    &:nth-child(#{$i}) {
      grid-area: b + #{$i};
    }
  }
}

.ligneProgres {
  grid-area: lg;
  position: relative;
  border-bottom: 2px solid white;
  margin-bottom: 4%;
  height: 50%;
  &::before {
    position: absolute;
    content: "";
    top: 100%;
    z-index: -1;
    left: 0;
    width: 195px;
    border-bottom: 1px solid gray;
  }
  &::after {
    top: 0;
    left: 0;
    content: "";
    height: 1px;
    padding: 100px;
    width: 100%;
  }
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .conteneurNavigation {
    margin-top: 10%;
    // margin-bottom: 10%;
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {
}
