.conteneurPage {
  display: flex;
}

.wrapperContenu {
  position: relative;
  width: 100%;
  height: 80vh;
}

.conteneurImage {
  font-size: 0;
  height: 100%;
  z-index: -1;
  position: absolute;

  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .conteneurEffetImage {
    background-color: var(--base);
    height: max-content;
    padding: var(--spacing);
    position: relative;
    opacity: 0.9;
    margin-top: 2%;

    img {
      filter: grayscale(100%) contrast(1) blur(var(--blur));
      mix-blend-mode: var(--bg-blend);
      object-fit: cover;
      opacity: var(--opacity);
      position: relative;
    }

    ::before {
      background-color: var(--foreground);
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      mix-blend-mode: var(--fg-blend);
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      filter: opacity(0.3) contrast(0.5) saturate(3) brightness(1);
    }
  }

  img {
    z-index: -1;
    width: 561px;
    height: 590px;
  }
}

.contenu {
  z-index: 5;
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  justify-content: center;

  h1 {
    width: 40%;
    text-align: center;
  }
  span {
    border-bottom: 5px solid black;
    width: 20%;
    margin: 0 4%;
  }
}

.projets,
.vie {
  cursor: pointer;
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .conteneurImage {
    img {
      width: 110vw;
      height: 110vh;
    }
  }

  .wrapperContenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contenu {
    margin: unset;
    height: auto;
    flex-direction: column;
    margin-top: -20%;
    width: 100%;
    span {
      width: 50%;
    }
    h1 {
      width: 100%;
    }

    .projets {
      margin-top: 0;
    }
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
  .conteneurImage {
    img {
      width: 120vw;
      height: 120vh;
    }
  }

  .wrapperContenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contenu {
    margin: unset;
    height: auto;
    flex-direction: column;
    margin-top: -20%;
    width: 100%;
    span {
      width: 50%;
    }
    h1 {
      width: 100%;
    }

    .projets {
      margin-top: 0;
    }
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {
}
