
.conteneurPage {
    width: 80%;
    height: 70vh;
    margin: 0 auto;
}

.points {
  display: flex !important;
  justify-content: center !important;

  * {
    width: 100px;
    padding-left: 1%;
    height: 2px;
    background-color: white;
  }
}
