.conteneurPage {
  position: relative;

  display: grid;
  grid-template:
    "uni . stage"
    " . emploi ." / 33% 33% 33%;
  height: 70vh;
  padding: 0 5%;

  font-family: "NeueMontreal";
}

.fondTexte {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100%;

  opacity: 0.02;

  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: bold;
  font-size: 14vw;
  line-height: 173px;
  text-align: center;

  h6 {
    margin: 0;
    max-width: 85%;
  }
}

.sectionUni,
.sectionStage,
.sectionEmploi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  cursor: pointer;

  h1,
  h3 {
    margin: 0;
    font-family: "NeueMontreal";
    font-style: normal;
    white-space: nowrap;
  }

  h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 1%;
  }

  h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
  }
}

.sectionUni {
  grid-area: uni;
}

.sectionStage {
  grid-area: stage;
}

.sectionEmploi {
  grid-area: emploi;
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .conteneurPage {
    grid-template:
      "uni"
      "stage"
      "emploi" / 100%;
  }

  .sectionUni,
  .sectionStage,
  .sectionEmploi {
    h1 {
      font-size: 24px;
      line-height: 29px;
    }

    h3 {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .fondTexte {
    line-height: 50px;
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
  .conteneurPage {
    grid-template:
      "uni"
      "stage"
      "emploi" / 100%;
  }

  .sectionUni,
  .sectionStage,
  .sectionEmploi {
    h1 {
      font-size: 24px;
      line-height: 29px;
    }

    h3 {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .fondTexte {
    line-height: 80px;
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
  .conteneurPage {
    grid-template:
      "uni"
      "stage"
      "emploi" / 100%;
  }

  .sectionUni,
  .sectionStage,
  .sectionEmploi {
    h1 {
      font-size: 40px;
      line-height: 40px;
    }

    h3 {
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
    }
  }

  .fondTexte {
    line-height: 100px;
  }
}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {
  .sectionUni,
  .sectionStage,
  .sectionEmploi {
    h1 {
      font-size: 30px;
      line-height: 40px;
    }

    h3 {
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
    }
  }

  .fondTexte {
    line-height: 120px;
  }
}
