.detailCours {
  display: flex;
  flex-direction: column;
  font-size: 16px;

  h2 {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 1%;

    .boutonFleche {
      font-size: 1.3rem;
      cursor: pointer;
    }
  }

  // .flecheDescriptionCours {
  //   position: absolute;
  //   right: 25%;
  //   bottom: 14%;
  //   font-size: 2rem;
  // }
  // À revoir avec Oli pour un meilleur solution
}

.contenuDetailCours {
  display: flex;
  justify-content: space-around;

  .conteneurTitre {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 50%;

    h3 {
      align-self: center;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin-top: 0;
    }

    .conteneurIcones {
      display: flex;
      justify-content: center;
    }
  }

  .descriptionCours {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 50%;
    max-width: 550px;
    overflow-y: auto;
    max-height: 420px;
    min-height: 420px;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar {
    width: 0px;
    display: none;
  }

  .fleche {
    position: relative;
    // width: 100%;

    .flecheDescriptionCours {
      position: absolute;
      top: 100%;
      right: 17vw;
      font-size: 2rem;
    }
  }
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .detailCours { 
    height: 100%;
    h2 {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .contenuDetailCours {
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: unset;
    .conteneurTitre {
      width: 100%;
      h3 {
        font-size: 18px;
        line-height: 22px;
      }
    }
    .descriptionCours {
      width: 90%;
      height: 60%;
      max-height: unset;
      min-height: unset;
    }
  }

  .paragrapheCours {
    height: 100%;
    font-size: 12px;
    line-height: 15px;
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {
}
