.cours {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 2px solid white;
    height: 100%;
    padding: 0 2rem;
  }

.titreCours{
    font-size: 1.5rem;
    margin-left: 2%;
    margin: 1.5% 0;
  }

  .listeTypes {
    display: flex;
  }