.conteneurCours {
  // max-width: 1300px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: NeueMontreal;
  // margin-top: 2%;
}


.conteneurTitre {

  position: absolute;
  top: 5%;
  left: 1%;

  .titreCours {
    font-size: 72px;
    font-style: normal;
    font-weight: bold;
    line-height: 86px;
    margin-bottom: 2%;
    margin-top: 0px;
  }

  .titreChoix {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-left: 22%;
  }
}



.selecteur {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 0px;
  border-bottom: 1px solid white;
  outline: none;

  :hover {
    border: 0px;
    border-bottom: 1px solid white;
    outline: none;
  }

  :focus {
    border: 0px;
    border-bottom: 1px solid white;
    outline: none;
  }



  option {
    color: black;
  }
}

.lesTabs {
  margin-top: 5%;
  padding: 0 2%;
}

.leTabList {
  font-size: 24px;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid white;
  margin: 0px;
  padding-bottom: 1px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;

  .flecheBas {
    display: none;
  }
}

.conteneurTabPanels {
  border-bottom: 4px solid white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  height: 55vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.tabPanelSelection {
  height: 100%;
  :last-child {
    border-bottom: none;;
  }
}

.unTabPanel {
  display: flex;
  flex-direction: column;
}



.tabSelection {
  .flecheBas {
    margin-left: 38%;
    display: block;
  }
}