.conteneurCours {
  // max-width: 1300px;
  width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: NeueMontreal;
  // margin-top: 2%;
}

.conteneurTitre {
  display: flex;
  justify-content: space-between;

  h3 {
    display: none;
  }

  .titreCours {
    font-size: 65px;
    font-style: normal;
    font-weight: bold;
    line-height: 86px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .titreChoix {
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 29px;
    margin-top: 2%;
    margin-right: 2%;
  }
}

.selecteur {
  cursor: pointer;
  background-color: transparent;
  // color: white;
  border: 0px;
  border-bottom: 1px solid white;
  outline: none;
  appearance: none;

  :hover {
    border: 0px;
    border-bottom: 1px solid white;
    outline: none;
  }

  :focus {
    border: 0px;
    border-bottom: 1px solid white;
    outline: none;
  }

  &::after {
    color: unset;
  }
  

  option {
    color: black;
    cursor: pointer;
  }
}

.lesTabs {
  margin-top: 2%;
  padding: 0 2%;
}

.leTabList {
  padding: 0;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid white;
  margin: 0px;
  padding-bottom: 1px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;

  .flecheBas {
    display: none;
  }
}

.conteneurTabPanels {
  border-bottom: 4px solid white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  height: 55vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.tabPanelSelection {
  height: 100%;
  :last-child {
    border-bottom: none;
  }
}

.unTabPanel {
  display: flex;
  flex-direction: column;
}

.tabSelection {
  .flecheBas {
    margin-left: 48%;
    display: block;
  }
}
.conteneurNomNbSession {
  display: flex;
}

.motSession,
.nbSession {
  margin: 0 4%;
  font-weight: lighter;
}



/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .conteneurTitre {
    margin-top: 2%;
    flex-direction: column;

    h3 {
      display: flex;
      margin: 0;

      margin: auto;
      // margin-top: 5%;
      margin-bottom: 2%;

      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
    .titreCours {
      font-size: 22px;
      line-height: 36px;
    }
    .titreChoix {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .conteneurTabPanels {
    height: 55vh;
  }

  .leTabList {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 2%;
  }

  .motSession {
    display: none;
  }

  .nbSession {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .conteneurFleche {
    display: none;
  }

  .flecheBas {
    display: none;
  }

  .tabSelection {
    span {
      h4 {
        font-weight: 800;
        font-size: 25px;
        line-height: 17px;
      }
    }
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
  .conteneurTitre {
    margin-top: 2%;
    flex-direction: column;

    h3 {
      display: flex;
      margin: 0;

      margin: auto;
      margin-top: 5%;
      margin-bottom: 2%;

      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
    .titreCours {
      font-size: 30px;
      line-height: 36px;
    }
    .titreChoix {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .conteneurTabPanels {
    height: 55vh;
  }

  .leTabList {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 2%;
  }

  .motSession {
    display: none;
  }

  .nbSession {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .conteneurFleche {
    display: none;
  }

  .flecheBas {
    display: none;
  }

  .tabSelection {
    span {
      h4 {
        font-weight: 800;
        font-size: 25px;
        line-height: 17px;
      }
    }
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
  .conteneurTitre {
    margin-top: 2%;
    flex-direction: column;

    h3 {
      display: flex;
      margin: 0;

      margin: auto;
      margin-top: 5%;
      margin-bottom: 2%;

      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 17px;
    }
    .titreCours {
      font-size: 45px;
      line-height: 36px;
    }
    .titreChoix {
      font-size: 25px;
      line-height: 22px;
      text-align: end;
    }
  }

  .conteneurTabPanels {
    height: 50vh;
  }

  .leTabList {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 2%;
  }

  .motSession {
    display: none;
  }

  .nbSession {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 17px;
  }

  .conteneurFleche {
    display: none;
  }

  .flecheBas {
    display: none;
  }

  .tabSelection {
    span {
      h4 {
        font-weight: 800;
        font-size: 30px;
        line-height: 17px;
      }
    }
  }
}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {

  .conteneurTitre {
    margin-top: 2%;
    
    .titreCours {
      font-size: 45px;
      line-height: 36px;
    }
    .titreChoix {
      font-size: 25px;
      line-height: 22px;
      text-align: end;
    }
  }

}
