.conteneurPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;

  font-family: "NeueMontreal";
  font-style: normal;

  h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    margin-bottom: 7%;
  }

  a {
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;

    &:visited,
    &:link,
    &:active {
      color: unset;
    }
  }
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .conteneurPage {
    h1 {
      font-style: normal;
      font-size: 24px;
      line-height: 29px;
    }

    a {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
  .conteneurPage {
    h1 {
      font-style: normal;
      font-size: 30px;
      line-height: 29px;
    }

    a {
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 22px;
    }
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
  .conteneurPage {
    h1 {
      font-style: normal;
      font-size: 45px;
      line-height: 29px;
    }

    a {
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 22px;
    }
  }
}
