.introConteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5%;
  height: 100vh;
  margin-right: auto;
  margin-bottom: auto;

  h1 {
    font-weight: normal;
    font-size: 24px;
  }

  div {
    margin: 10% 0;
  }

  .texteIntro {
    font-weight: 500;
    font-size: 18px;
  }

  .texteChargement {
    font-family: NeueMontreal, sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  .souligne {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* ==================MOBILE================== */
@media (width >= 310px) and (width <= 424px) {
  .introConteneur {
    width: 85%;

    h1,
    h2 {
      text-align: center;
    }

    div {
      width: 100%;
      height: auto;
      margin: 0;
    }

    h2 {
      margin-top: 10%;
    }
  }
}

/* ==================TABLETTE================== */
@media (width >= 425px) and (width <= 767px) {
  .introConteneur {
    width: 85%;

    h1,
    h2 {
      text-align: center;
    }

    div {
      width: 100%;
      height: auto;
      margin: 0;
    }

    h2 {
      margin-top: 10%;
    }
  }
}
