.introConteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5%;

  h1 {
    font-weight: normal;
    font-size: 24px;
  }

  div {
    margin: 10% 0;
    // .logo {
      
    // }
  }

  .texteIntro {
    font-weight: 500;
    font-size: 18px;
  }

  .texteChargement {
    font-family: "NeueMontreal";
    font-weight: bold;
    font-size: 18px;
  }

  .souligne {
    text-decoration: underline;
    cursor: pointer;
  }
}
