.introConteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5%;
  height: 100vh;
  margin: auto;

  h1 {
    font-weight: normal;
    font-size: 24px;
  }

  div {
    margin: 10% 0;
    // .logo {

    // }
  }

  .texteIntro {
    font-weight: 500;
    font-size: 18px;
  }

  .texteChargement {
    font-family: "NeueMontreal";
    font-weight: bold;
    font-size: 18px;
  }

  .souligne {
    text-decoration: underline;
    cursor: pointer;
  }
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .introConteneur {
    width: 85%;
    // margin-top: 30%;
    h1,
    h2 {
      text-align: center;
    }
    div {
      width: 100%;
      height: auto;
      margin: 0;
    }
    h2 {
      margin-top: 10%;
    }
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
  .introConteneur {
    width: 85%;
    // margin-top: 30%;
    h1,
    h2 {
      text-align: center;
    }
    div {
      width: 100%;
      height: auto;
      margin: 0;
    }
    h2 {
      margin-top: 10%;
    }
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
  .introConteneur {
    // margin-top: 18%;
  }
}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {
}
