@import "styles/variables";

.conteneurProfils {
  color: white;
  border-left: 5px solid white;
  padding-left: 2rem;
  width: 100vw;
  // max-width: 1300px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4%;

  h1 {
    align-self: start;
    padding-left: 2%;
    line-height: 44px;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
  }

  .grilleProfils {
    height: 100%;
    display: grid;
    grid-template:
      "art . code" 1fr
      ". parent ." 1fr
      / auto auto auto;
  }

  .art,
  .code,
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid red;
    text-align: center;
    width: 18vw;
    height: auto;
    position: relative;
    cursor: pointer;

    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
    }
  }

  .art {
    grid-area: art;
    border-color: #e72a00;
    top: 25%;
  }

  .code {
    grid-area: code;
    border-color: #599f5a;
    right: 35%;
    bottom: 0%;
  }

  .parent {
    grid-area: parent;
    border-color: bisque;
    top: -5%;
  }

  .rapide {
    grid-area: rapide;
    font-size: 1.3rem;
    font-weight: normal;
    text-decoration: underline;
    position: relative;
    right: 1rem;
    height: 0;
    align-self: flex-end;
    cursor: pointer;
  }
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .conteneurProfils {
    padding: 0;
    margin: 0;
    border: none;
    height: 80vh;

    h1 {
      padding-left: 0;
      align-self: center;
      font-size: 18px;
      line-height: 22px;
      margin-top: 10%;
    }

    .grilleProfils {
      grid-template:
        "art" 1fr
        "code" 1fr
        "parent" 1fr
        / 100%;

      width: 100%;
      height: 100%;

      .art,
      .code,
      .parent {
        width: 100%;
        height: auto;
        border: none;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        // margin: 25% 0;
        h2 {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          text-decoration-line: underline;
          width: 100%;
          br {
            display: none;
          }
        }
      }
    }

    .art {
      h2 {
        animation: changerCouleurArt 4s infinite;
        animation-direction: alternate;
      }
    }

    .code {
      h2 {
        animation: changerCouleurCode 4s infinite;
        animation-direction: alternate;
      }
    }

    .parent {
      h2 {
        animation: changerCouleurParent 4s infinite;
        animation-direction: alternate;
      }
    }

    .rapide {
      display: none;
    }
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
  .conteneurProfils {
    padding: 0;
    margin: 0;
    border: none;
    height: 80vh;

    h1 {
      padding-left: 0;
      align-self: center;
      font-size: 18px;
      line-height: 22px;
      margin-top: 10%;
    }

    .grilleProfils {
      grid-template:
        "art" 1fr
        "code" 1fr
        "parent" 1fr
        / 100%;

      width: 100%;
      height: 100%;

      .art,
      .code,
      .parent {
        width: 100%;
        height: auto;
        border: none;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        // margin: 25% 0;
        h2 {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          text-decoration-line: underline;
          width: 100%;
          br {
            display: none;
          }
        }
      }
    }

    .art {
      h2 {
        animation: changerCouleurArt 4s infinite;
        animation-direction: alternate;
      }
    }

    .code {
      h2 {
        animation: changerCouleurCode 4s infinite;
        animation-direction: alternate;
      }
    }

    .parent {
      h2 {
        animation: changerCouleurParent 4s infinite;
        animation-direction: alternate;
      }
    }

    .rapide {
      display: none;
    }
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
  .conteneurProfils {
    padding: 0;
    margin: 0;
    border: none;
    height: 80vh;

    h1 {
      align-self: center;
      font-size: 35px;
      line-height: 22px;
      margin-top: 10%;
      padding-left: 0;
    }

    .grilleProfils {
      grid-template:
        "art" 1fr
        "code" 1fr
        "parent" 1fr
        / 100%;

      width: 100%;
      height: 100%;

      .art,
      .code,
      .parent {
        width: 100%;
        height: auto;
        border: none;
        border-radius: 0;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        // margin: 25% 0;
        h2 {
          font-size: 30px;
          line-height: 22px;
          text-align: center;
          text-decoration-line: underline;
          width: 100%;
          br {
            display: none;
          }
        }
      }

      .art {
        h2 {
          animation: changerCouleurArt 4s infinite;
          animation-direction: alternate;
        }
      }

      .code {
        h2 {
          animation: changerCouleurCode 4s infinite;
          animation-direction: alternate;
        }
      }

      .parent {
        h2 {
          animation: changerCouleurParent 4s infinite;
          animation-direction: alternate;
        }
      }
    }
    .rapide {
      display: none;
    }
  }
}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {
}

// ANIMATIONS

@keyframes changerCouleurArt {
  0% {
    color: red;
  }
  25% {
    color: rgb(218, 25, 83);
  }
  50% {
    color: rgb(173, 18, 194);
  }
  75% {
    color: rgb(113, 25, 165);
  }
  100% {
    color: rgb(77, 23, 202);
  }
}

@keyframes changerCouleurCode {
  0% {
    color: rgb(48, 109, 42);
  }
  25% {
    color: rgb(78, 163, 39);
  }
  50% {
    color: rgb(43, 146, 60);
  }
  75% {
    color: rgb(141, 192, 24);
  }
  100% {
    color: rgb(40, 73, 51);
  }
}

@keyframes changerCouleurParent {
  0% {
    color: rgb(195, 172, 172);
  }
  25% {
    color: rgb(177, 118, 136);
  }
  50% {
    color: rgb(194, 135, 101);
  }
  75% {
    color: rgb(134, 95, 85);
  }
  100% {
    color: rgb(192, 160, 141);
  }
}
