.conteneurPage {
  height: 70vh;
  margin: 0 15%;

  

  section {
    display: flex;
    height: inherit;
    position: relative;

    .lienRetour {
      position : absolute;
      bottom: -5%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: 310px) and (max-width: 359px) {
        display: none;
      }

      @media (min-width: 360px) and (max-width: 424px) {
        bottom: -13%;
        width: 100%;
      }

      @media (min-width: 425px) and (max-width: 767px) {
        bottom: -20%;
        width: 100%;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        bottom: -17%;
        width: 100%;
      }

    }

    .imgProf {
      height: 65vh;
      width: 50vh;
      
    }

    .unProf {
      font-size: 0;
      background-color: var(--base);
      height: max-content;
      padding: var(--spacing);
      position: relative;
      margin-top: 2%;
      width: fit-content;

      div {
        width: fit-content;
      }

      img {
        filter: grayscale(100%) contrast(1) blur(var(--blur));
        mix-blend-mode: var(--bg-blend);
        object-fit: cover;
        object-position: left;
        opacity: var(--opacity);
        position: relative;
      }

      ::before {
        background-color: var(--foreground);
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        mix-blend-mode: var(--fg-blend);
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        filter: opacity(0.5) contrast(0.5) saturate(3) brightness(1);
      }
    }

    .unProfArt {
      font-size: 0;
      background-color:#ff7100d6;
      height: max-content;
      padding: var(--spacing);
      position: relative;
      margin-top: 2%;
      width: fit-content;

      div {
        width: fit-content;
      }

      img {
        filter: grayscale(100%) contrast(1) blur(var(--blur));
        mix-blend-mode: var(--bg-blend);
        object-fit: cover;
        object-position: left;
        opacity: var(--opacity);
        position: relative;
      }

      ::before {
        background-color:  #5241ff;
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        mix-blend-mode: var(--fg-blend);
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        filter:  opacity(0.4) contrast(0.8) saturate(0.5) brightness(1);
      }
    }

    .unProfCode {
      font-size: 0;
      background-color: #4ed051;
      height: max-content;
      padding: var(--spacing);
      position: relative;
      margin-top: 2%;
      width: fit-content;

      div {
        width: fit-content;
      }

      img {
        filter: grayscale(100%) contrast(0.6) blur(var(--blur));
        mix-blend-mode: color-burn;
        object-fit: cover;
        object-position: left;
        opacity: var(--opacity);
        position: relative;
      }

      ::before {
        background-color: #387954;
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        mix-blend-mode: soft-light;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        filter: opacity(2) contrast(1) saturate(1) brightness(0.6);
      }
    }

    article {
      display: flex;
      flex-direction: column;
      width: 50%;

      .conteneurTitres {
        margin-left: 10%;

        h1 {
          font-family: "NeueMontreal";
          font-style: normal;
          font-weight: bold;
          font-size: 64px;
          line-height: 77px;
          margin-bottom: 0;
        }
        h5 {
          font-family: "NeueMontreal";
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;

          margin: 0;
        }
      }

      .contenuTexte {
        font-family: "NeueMontreal";
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 43px;

        height: 55%;

      
        margin-top: 10%;
        z-index: 3;

        margin-left: -10%;

        overflow-y: scroll;

        a {
          color: unset;
        }

        
      }

      .fleche {
        position: relative;
    
        .flecheDescriptionCours {
          position: absolute;
          top: 100%;
          right: 17vw;
          font-size: 3rem;
        }
      }
    }
  }
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .conteneurPage {
    margin: 0 10%;
    section {
      flex-direction: column;
      .imgProf {
        width: 70vw;
        height: 30vh;
      }
      .unProf, .unProfArt, .unProfCode {
        margin: 0 auto;
        margin-top: 1%;
        img {
          object-fit: cover;
          object-position: 0% 20%;
        }
      }
      article {
        width: 100%;
        .conteneurTitres {
          margin-left: 0;
          h1 {
            font-size: 30px;
            line-height: 45px;
          }
          h5 {
            font-size: 25px;
            line-height: 30px;
          }
        }
        .contenuTexte {
          margin-top: 0;
          margin-left: 0;
          width: 100%;
          height: 30vh;
          font-size: medium;
        }
      }
    }
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
  .conteneurPage {
    margin: 0 10%;
    section {
      flex-direction: column;
      .imgProf {
        width: 60vw;
        height: 30vh;
      }
      .unProf, .unProfArt, .unProfCode {
        margin: 0 auto;
        margin-top: 1%;
        img {
          object-fit: cover;
          object-position: 0% 20%;
        }
      }
      article {
        width: 100%;
        .conteneurTitres {
          margin-left: 0;
          h1 {
            font-size: 30px;
            line-height: 45px;
          }
          h5 {
            font-size: 25px;
            line-height: 30px;
          }
        }
        .contenuTexte {
          margin-top: 0;
          margin-left: 0;
          width: 100%;
          height: 35vh;
          font-size: medium;
        }
      }
    }
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
  .conteneurPage {
    margin: 0 10%;
    section {
      flex-direction: column;
      .imgProf {
        width: 70vw;
        height: 40vh;
      }
      .unProf,  .unProfArt, .unProfCode {
        margin: 0 auto;
        margin-top: 1%;
        img {
          object-fit: cover;
          object-position: 0% 20%;
        }
      }
      article {
        width: 100%;
        .conteneurTitres {
          margin-left: 0;
          h1 {
            font-size: 30px;
            line-height: 45px;
          }
          h5 {
            font-size: 25px;
            line-height: 30px;
          }
        }
        .contenuTexte {
          margin-top: 0;
          margin-left: 0;
          width: 100%;
          height: 30vh;
          font-size: medium;
        }
      }
    }
  }
}

