.conteneurPage {
  height: 70vh;
  margin: 0 15%;

  section {
    display: flex;
    height: inherit;

    .imgProf {
      height: auto;
    }

    .unProf {
      background-color: var(--base);
      height: 100%;
      padding: var(--spacing);
      position: relative;
      

      img {
        filter: grayscale(100%) contrast(1) blur(var(--blur));
        mix-blend-mode: var(--bg-blend);
        object-fit: fill;
        opacity: var(--opacity);
        position: relative;
      }

      ::before {
        background-color: var(--foreground);
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        mix-blend-mode: var(--fg-blend);
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        filter: opacity(0.5) contrast(0.5) saturate(3) brightness(1);
      }
    }

    article {
      display: flex;
      flex-direction: column;

      width: 50%;

      .conteneurTitres {
        margin-left: 10%;

        h1 {
          font-family: "NeueMontreal";
          font-style: normal;
          font-weight: bold;
          font-size: 64px;
          line-height: 77px;
          margin-bottom: 0;
        }
        h5 {
          font-family: "NeueMontreal";
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;

          margin: 0;
        }
      }

      .contenuTexte {
        font-family: "NeueMontreal";
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 43px;

        height: 55%;

        width: 120%;
        margin-top: 10%;
        z-index: 3;

        margin-left: -10%;

        overflow-y: scroll;

        div > * {
        }

        // p {
        //   position: absolute;
        //   left: -10%;
        //   margin: 0;
        // }
      }
    }
  }
}
