.conteneur {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1%;

  :visited,
  :link {
    color: green;
  }
}

.sectionLesProfs {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  position: absolute;
  top: 7%;
  left: 5%;
  z-index: 3;
  text-align: end;

  h1,
  h3 {
    cursor: pointer;
    margin: 0;
  }

  h1 {
    font-size: 72px;
  }

  h3 {
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
  }
}

.sectionImages {
  font-size: 0;
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  span {
    width: 33%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    div {
      cursor: pointer;
    }
  }
}

.cercle {
  position: absolute;
  width: 26vw;
  height: 26vw;
  border: 6px solid white;
  border-radius: 50%;
}

.sectionTexte {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  z-index: 3;
  min-width: 535px;
  width: 35vw;
  max-width: 535px;
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 2%;
  h2 {
    cursor: pointer;
    margin: 0;
    font-size: 36px;
    font-weight: normal;
  }
}

.conteneurImg {
  background-color: var(--base);
  height: max-content;
  padding: var(--spacing);
  position: relative;

  img {
    filter: grayscale(100%) contrast(1) blur(var(--blur));
    mix-blend-mode: var(--bg-blend);
    object-fit: fill;
    opacity: var(--opacity);
    position: relative;
  }

  ::before {
    background-color: var(--foreground);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: var(--fg-blend);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    filter: opacity(0.5) contrast(0.5) saturate(3) brightness(1);
  }

  .imgProf {
    width: 120px;
    height: auto;
  }
}

/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px) {
  .conteneur {
    height: 80vh;
    justify-content: space-evenly;
  }

  .sectionLesProfs {
    position: relative;
    top: unset;
    left: unset;
    text-align: start;
    width: 90%;

    h1 {
      font-size: 30px;
      line-height: 36px;
    }
    h3 {
      margin-top: 5%;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .cercle {
    display: none;
  }

  .sectionImages {
    height: 30vh;
    font-size: 0;

    @for $i from 2 to 3 {
      span:nth-child(#{$i}) {
        display: none;
      }
    }

    span:nth-child(1) {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      .conteneurImg:nth-child(2) {
        transform: translate(-0%, 50%) scale(1.8) !important;
        .imgProf {
        }
      }

      .conteneurImg:nth-child(3) {
        img {
          display: none;
        }
      }
    }

    span:nth-child(3) {
      .conteneurImg:nth-child(2) {
        transform: translate(0, -150%) scale(3) !important;
      }

      .conteneurImg:nth-child(6) {
        display: none;
      }
    }
  }

  .sectionTexte {
    min-width: unset;
    width: unset;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .imgProf {
    width: 50px !important;
  }
}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px) {
  .conteneur {
    height: 80vh;
    justify-content: space-evenly;
  }

  .sectionLesProfs {
    position: relative;
    top: unset;
    left: unset;
    text-align: start;
    width: 90%;

    h1 {
      font-size: 30px;
      line-height: 36px;
    }
    h3 {
      margin-top: 5%;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .cercle {
    display: none;
  }

  .sectionImages {
    height: 30vh;
    font-size: 0;

    @for $i from 2 to 3 {
      span:nth-child(#{$i}) {
        display: none;
      }
    }

    span:nth-child(1) {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      .conteneurImg:nth-child(2) {
        transform: translate(-0%, 50%) scale(1.8) !important;
        .imgProf {
        }
      }

      .conteneurImg:nth-child(3) {
        img {
          display: none;
        }
      }
    }

    span:nth-child(3) {
      .conteneurImg:nth-child(2) {
        transform: translate(0, -150%) scale(2) !important;
      }

      .conteneurImg:nth-child(6) {
        display: none;
      }
    }
  }

  .sectionTexte {
    min-width: unset;
    width: unset;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .imgProf {
    width: 70px !important;
  }
}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px) {
  .conteneur {
    height: 80vh;
    justify-content: space-evenly;
  }

  .sectionLesProfs {
    position: relative;
    top: unset;
    left: unset;
    text-align: start;
    width: 90%;

    h1 {
      font-size: 45px;
      line-height: 36px;
    }
    h3 {
      margin-top: 5%;
      font-size: 25px;
      line-height: 17px;
    }
  }

  .cercle {
    // display: none;
    width: 43vw;
    height: 43vw;
  }

  .sectionImages {
    height: 30vh;
    font-size: 0;

    @for $i from 2 to 3 {
      span:nth-child(#{$i}) {
        display: none;
      }
    }

    span:nth-child(1) {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      .conteneurImg:nth-child(2) {
        transform: translate(-0%, 50%) scale(1.8) !important;
      
        .imgProf {
        }
      }

      .conteneurImg:nth-child(3) {
        img {
          display: none;
        }
      }
    }

    span:nth-child(3) {
      .conteneurImg:nth-child(2) {
        transform: translate(0, -150%) scale(2) !important;
        z-index: -1;
      }

      .conteneurImg:nth-child(6) {
        display: none;
      }
    }
  }

  .sectionTexte {
    min-width: unset;
    width: unset;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 34px;
      line-height: 29px;
    }
  }

  .imgProf {
    width: 100px !important;
  }
}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {
  .imgProf {
    width: 110px !important;
  }
}
