.conteneur {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1%;

  :visited,
  :link {
    color: green;
  }
}

.sectionLesProfs {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  position: absolute;
  top: 7%;
  left: 5%;
  z-index: 3;
  text-align: end;

  h1,
  h3 {
    cursor: pointer;
    margin: 0;
  }

  h1 {
    font-size: 72px;
  }

  h3 {
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
  }
}

.sectionImages {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  span {
    width: 33%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      cursor: pointer;
      position: absolute;
      width: 7vw;
      height: auto;
    }
  }
}

.cercle {
  width: 26vw;
  height: 26vw;
  border: 6px solid white;
  border-radius: 50%;
}

.sectionTexte {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  z-index: 3;
  min-width: 535px;
  width: 35vw;
  max-width: 535px;
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 2%;
  h2 {
    cursor: pointer;
    margin: 0;
    font-size: 36px;
    font-weight: normal;
  }
}
