/*=================== styles globaux ===================*/
:root {
  --base:              #dc8cb9;
  --bg-blend:          multiply;
  --blur:              0px;
  --fg-blend:          lighten;
  --foreground:        #24587f;
  --opacity:           1;
  --spacing:           0px;
  --bgAcceuil: url("");
}

body {
  font-family: Montserrat;
  color: $couleur-texte;
  background-color: $couleur-background;
}


/*==================MOBILE==================*/
@media (min-width: 310px) and (max-width: 424px){



}

/*==================TABLETTE==================*/
@media (min-width: 425px) and (max-width: 767px){

}

/**================GROSSE TABLETTE==================*/
@media (min-width: 768px) and (max-width: 1024px){

}

/*==================LAPTOP==========================*/
@media (min-width: 1025px) and (max-width: 1439px) {
  
}
