// définition des variables réutilisées (couleurs, ombres, tailles, styles communs, etc)

/* ================ COULEURS =================== */
$couleur-background: #110c12;
$couleur-texte: white;
$taille-cercle-accueil: 20rem;
